* {
  margin: 0;
  padding: 0;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: $font_primary;
  font-size: 16px;
  color: white;
  word-spacing: 1px;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  background: $black;
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 3px;
}

body {
  scrollbar-width: thin;
}

body::-webkit-scrollbar-track {
  background: $black;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba($cream, 1) ;
  border-radius: 6px;
  border: 0 solid yellow;
}